.card {
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #ffffff;

}

.error {
    color: red;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    text-align: center;
}

.field {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}